<div data-role="header" style="overflow:hidden;">
    <div class="ui-grid-b">
        <div class="ui-block-a">
            <div class="ui-bar ui-bar-a" style="height:60px">
                <ul>
                    <li>Point:500</li>
                    <li>Coins:5</li>
                </ul>
            </div>
        </div>


        <div class="ui-block-b">
            <div class="ui-bar ui-bar-a" style="height:60px">
                <ul>
                    <li>생활백서</li>
                    <li>레벨:1</li>
                </ul>
            </div>
        </div>
        <div class="ui-block-c">
            <div class="ui-bar ui-bar-a" style="height:60px">              
                <button class="ui-btn-right ui-btn ui-btn-b ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-gear">설정</button>
            </div>
        </div>
    </div><!-- /grid-b -->
</div><!-- /header -->